img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

@font-face{
    font-family:'Sports';
    src: local('Sports'), url('fonts/Sports EA Sports.ttf') format('truetype');
}

@font-face{
    font-family:'Gotham-Book';
    src: local('Gotham-Book'), url('fonts/GothamBook.ttf') format('truetype');
}

@font-face{
    font-family:'Gotham-Bold';
    src: local('Gotham-Bold'), url('fonts/Gotham-Bold.ttf') format('truetype');
}

*{
    font-family: 'Gotham-Book', Arial, sans-serif;
    font-weight: normal;
}

html, body{ width: 100%; height: 100%; margin: 0; padding: 0; }


/*HOME*/
#home{
  background-image: url(images/backgrounds/bg_tablet.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#home div{
	width: 50%;
}

#home .settings-wrapper{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 4;
	height: 70px;
	box-sizing: border-box;
	padding: 16px 38px 16px 0px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 35px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}

#home .settings-btn{
  position: absolute;
  background-image: url(images/icons/settings.png);
  /*background-color: rgb(255, 255, 255);*/
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 70px;
  height: 70px;
  z-index: 4;
  text-align: center;
  padding: 5px;
  right: 0;
  top: 0;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-sizing: border-box;
}

#syncReg{
  display: none;
  position: absolute;
  left: 11px;
  top:10px;
  width: 45px;
  height: 42px;
  padding: 10px;
}

#syncReg.active-sync{
  display: block;
}

#syncReg{ top: 10px; }

#syncReg:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-image: url(images/icons/sync.png);
  background-size:60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 60px;
  height: 60px; 
}

#syncReg:after{
  /*display: none; */
  position: absolute;
  top: 50%;
  left: 115px;
  z-index: 1;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  padding: 5px 14px 5px 44px;
  margin-left: 30px;
  color: #fff;
  font-family: 'Gotham-Bold';
  border: 4px solid #fff;
  background-color: #014171;
  border-top-right-radius: 15px;
  /* border-top-right-radius: 0px; */
  border-bottom-right-radius: 15px;
  /* border-bottom-right-radius: 0px; */
  white-space: nowrap;
}

#syncReg:after{ content: "SYNC: " attr(data-rec); }

#home #logo{
	position: absolute;
    left: 54%;
    top: 32%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*background-image: url(images/logo.png);*/
   /* width: 60%;
    height: 40%;*/
    background-size: 100% 100%;

}

#home footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 0;
	vertical-align: middle;
}

#home footer div{
	float: left;
	width: 25%;
	background-color: #014171;
	margin-left: 5%;
}

/*REDEEM*/
#redeemPage{
	padding: 80px 0 0 0;
	box-sizing: border-box;
}

#redeemPage header{
	height: 80px;
    /* overflow: hidden; */
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    background-color: #fff;
    right: 0;
    z-index: 1;
}

#redeemPage #seaoil{
	float: left;
	margin:10px;
	width: 200px;
}

#redeemPage #seaoil img{
	width: 100%;
}

#redeemPage #logout{
	width: 15%;
	float: right;
	font-size: 16px;
	padding:10px;
	margin: 30px 25px 0 0
}

#redeemPage #content{
	height: 100%;
}

#redeemPage #content #profile{
  text-align: center;
 /* text-align: center;
  height: 170px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;*/
}

#redeemPage #content #profile #myPoints{
  margin: 0 auto;
  font-size: 32px;
  font-family: 'Gotham-Bold';
  color: #014171;
}

#redeemPage #content #profile #myPoints:after{
  content: 'POINTS';
  font-size: 20px;
  color: #000;
  font-family: 'Gotham-Book'
}

#redeemPage #content #profile #cardNum strong{
  font-size: 18px;
  font-family: 'Gotham-Bold';
}

#redeemPage #content #campaignWrapper{
  /*padding: 170px 50px 20px 50px;*/
  width: 90%;
  margin: 3% auto 0 auto;
  height: 75%;
  overflow: auto;
}

#redeemPage #content #campaignWrapper #empty{
  width: 100%;
  margin-top:27px;
  text-align: center;
}

#redeemPage #content #campaignWrapper #empty img{
  width: 200px;
}

#redeemPage #content #campaignWrapper #preloader{
	text-align: center;
	margin-top: 8%;
}

#redeemPage #content #campaignList ul{
	list-style: none;
	padding: 0;
	margin: 0;
	/*overflow-x:auto;*/
  /*height: 280px;*/
}

#redeemPage #content #campaignList ul li{
	border-radius:50px;
    position:relative;
    padding:20px 10px 20px 90px;
    background-color:#fcd931;
    margin-top:10px;
    color:#000;
    font-family: 'Arial';
}

#redeemPage #content #campaignList ul li div{ pointer-events:none; }
#redeemPage #content #campaignList li.redeem{ 
	background-color:#fcd931; 
	color:#000; 
	border:5px solid #014171;
}

#redeemPage #content #campaignList li .points{
    position: absolute;
    top: 9px;
    left: 0;
    bottom: 9px;
    width: 80px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000;
    font-family: 'Gotham-Book';
    font-weight: bolder;
    padding-top: 6px;
}

#redeemPage #content #campaignList li .points div::after{
	content: 'POINTS';
    /*content:attr(data-label);*/
    display:block;
    font-size:12px;
}


/*REGISTER*/
#registerPage{
	position: relative;
  padding:20px;
  box-sizing: border-box;
}

#registerWrapper{
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

#registerPage h2{
	text-align: center;
	font-family: 'Sports';
	text-transform: uppercase;
	color: #014171;
  margin-top:0;
}

#registerPage .form div{
  margin-top:20px;
  overflow: hidden;
}

#registerPage .form label{
  float: left;
  width: 30%;
  padding:12px 0;
  font-family: 'Sports';
  font-size: 18px;
}

#registerPage .form input{
  width: 70%;
  float: left;
  padding: 10px 5px;
  font-size: 16px;
  /*border:1px solid #bdbdbd;
  border-radius:10px;*/
  border:0;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}

#registerPage .form #card{
	pointer-events: none;
}

::-webkit-input-placeholder {
  color: #bdbdbd;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Sports';
  font-weight: normal;
}

#registerPage #genderWrapper, #registerPage #dob{
  margin:0;
}

#registerPage #genderWrapper select{
  -webkit-appearance: none;
  background-color: #fff;
  width: 100%;
  float: left;
  border: 1px solid #bdbdbd;
  float: left;
  border-radius: 0;
  padding: 10px 5px;
  font-size: 16px;
  background-image: url(images/icons/drop.png);
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 4%;
  font-family: 'Sports';
  font-style: italic;
  border:0;
  border-bottom: 1px solid #dedede;
  color: #bdbdbd;
}

#registerPage .form #dob select{
  -webkit-appearance: none;
  background-color: #fff;
  width: 33%;
  border: 1px solid #bdbdbd;
  float: left;
  border:0;
  border-bottom: 1px solid #dedede;
  padding: 10px 5px;
  font-size: 16px;
  background-image: url(images/icons/drop.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 12%;
  font-family: 'Sports';
  font-style: italic;
  color: #bdbdbd;
}

#registerPage .form #dob #month{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right:0;
}

#registerPage .form #dob #day{
	border-right:0;
}

#registerPage .form #dob #year{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#registerPage #createAccount{
	clear: both;
	margin:10% auto 0 auto;
	width: 50%;
}

#registerPage .close{
	position: absolute;
	top:10px;
	left:10px;
  font-size: 30px
}

.disable{
  pointer-events: none;
}

/*MODAL*/
#scanModal{
	text-align: center;
}

#scanModal .modalWrapper{
	width: 70%;
}

#scanModal h3{
  font-size: 25px;
}

#scanModal input{
  -webkit-appearance: none;
  appearance: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 23px;
  text-align: center;
  color: #000;
  margin-top: 5%;
  font-size: 32px;
  border:1px solid #c1a622;
}

#scanModal #submit{
	font-size: 14px;
	padding: 10px;
	width: 30%;
	margin: 8% auto 20px auto;
}

#scanModal .close{
	position: absolute;
	top:10px;
	padding: 10px;
  font-size: 30px;
}

#modal .modal > div{ 
  display:none; 
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 20px 20px 20px;
  position: absolute;
  top: 27%;
  left: 22%;
  text-align: center;
  border-radius:20px;
      z-index: 999;
}

#modal.choice, 
#modal.warning,
#modal.prompt,
#modal .modal{ display:block; z-index: 999;}

#modal.choice #choice, 
#modal.warning #warning,
#modal.prompt #prompt{ 
  display:block;
  animation: zoomIn 400ms ease both;
  -webkit-animation: zoomIn 400ms ease both; 
      z-index: 999;
}

#modal.choice #choice #ok, #modal.choice #choice #cancel{
  width: 40%;
  float: right;
  margin-top: 5%;
}

#modal.choice #choice #cancel{
  float: left;
}

.msg{
  font-size: 20px;
}

/*UNIVERSAL*/
.view-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}

.view{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	animation: fadeIn 300ms ease both;
	-webkit-animation: fadeIn 300ms ease both;
}

.view.active-view{ display: block; }

@keyframes fadeIn{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

@-webkit-keyframes fadeIn{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

.btn{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-family: 'Sports';
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 50px;
	padding: 15px 10px;
	background-color: #014171;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

.modal.active-modal{
	display: block;
}

.modalWrapper{
  position: absolute;
  left: 15%;
  top: 25%;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  animation: zoomIn 400ms ease both;
  -webkit-animation: zoomIn 400ms ease both;
}

.modalContent{
	padding: 20px;
	position: relative;
}

.hide{
	display: none;
}

.display{
	display: block;
}

/*ANIMATIONS*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}





